:root{
    --color-fondo-tarjeta:rgb(230, 230, 230);
    --color-fondo-div1:rgb(230, 230, 230);
    --color-fondo-div2:rgb(210, 210, 210);
    --font-size-titles:3rem;
    --letter-sapacing-titles:0.5rem;
}
body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
p{
    margin:0;
}
a{
    text-decoration: none;
}
ul{
    text-align: left;
}
h1{
    margin-top: 10vh;
}
#tarjeta{
    display: flex;
    align-items: center;
    width: 26vw;
    height: 25vh;
    position: absolute;
    z-index: 10;
    background-color: var(--color-fondo-tarjeta);
    left: 37vw;
    top: 37.5vh;
    border-radius: 30px;
    border: 2px solid var(--color-fondo-div2) ;
}
#fotoPer{
    max-width: 9vw;
    align-self: center;
}
#tarjeta-info{
    margin-left: 1vw;
}
#nombre{
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 10px;
}
#experiencia {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 10vh solid transparent;
    border-top: 50vh solid var(--color-fondo-div1);
    z-index: 0;
}
#titulo-exp, #titulo-pro, #titulo-per, #titulo-edu{
    position: absolute;
    z-index: 1;
    font-size: var(--font-size-titles);
    letter-spacing: var(--letter-sapacing-titles);
    color: black;
}
#titulo-exp{
    top:8vh;
    left: 36vw;
}
#proyectos {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 50vh solid var(--color-fondo-div1);
    z-index: 0;

}
#titulo-pro{
    bottom:8vh;
    left: 38vw;
}
#perfil {
position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid var(--color-fondo-div2);
    border-top: 50vh solid transparent;
    border-bottom: 50vh solid transparent;
    z-index: 0;

}
#titulo-per{
    top:42vh;
    left: 5vw;
}
#educacion {
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-right: 50vw solid var(--color-fondo-div2);
    border-top: 50vh solid transparent;
    border-bottom: 50vh solid transparent;
    z-index: 0;
}
#titulo-edu{
    right:5vw;
    top: 42vh;
}
#container{
    display: flex;
    height: 100vh;
}
#menu{
    width: 20vw;
    background-color: var(--color-fondo-div1);
    text-align: center;
    position: sticky;
    top:0;
}
#visualizacion{
    width: 80vw;
    height: 100vh;
    overflow: hidden;
}
.listado-trabajo{
    margin: 40px;
    cursor: pointer;
}
#img-experiencia{
    margin-top: 10vh;
    margin-left: 1vh;
    max-width: 18vw;
}

#descr-experiencia{
    margin: 10vh 30px;
    margin-bottom: 3vh;
    text-align: justify;
    overflow: hidden;
}
#contenedor-tarjetas{
    overflow-y: scroll;
    height: 67vh;
}
.tarjeta-empleo{
    border: 1px solid black;
    width: 50%;
    margin: 20px auto;
}
.titulo-tarjeta-empleo{
    margin-top: 10px;
    margin-left: 10px;
}
.notVisible{
    display:none
}